#app {
  width: auto;
  height: calc(100vh - 58px);
  display: flex;
  flex-direction: row;
  overflow: auto;
}

ul {
  position: relative;

  &.list {
    min-width: 300px;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 10px;
  }
}

.list {
  &-title {
    margin-top: auto;
    margin-bottom: auto;
  }
}
li {
  list-style: none;

  &.start {
    display: flex;
    min-height: 30px;
    p {
      line-height: 30px;
    }

    div.card-count {
      min-width: 22px;
      min-height: 25px;
      border-radius: 50px;
      margin-right: 10px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.card {
  &-list-wrapper {
    height: 96%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &-list-wrapper::-webkit-scrollbar {
    display: none;
  }
  padding: 10px;
  margin: 10px 0 10px 0;
  // width: 280px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid gray;
  color: #000;
  user-select: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  
  &-user {
    font-weight: bold;
    font-size: 13px;
  }
  &-des {
    color: grey;
    font-size: 13px;
  }
  word-wrap: break-word;
}

.hover {
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 10;
  transform: scale(1.1);
  opacity: 0.5;
}

.temp {
  opacity: 0.5;
}

.listButtons {
  position: absolute;
  right: 0;
  vertical-align: middle;
  font-size: smaller;
  button {
    min-height: 30px;
    min-width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 0px;
    &:hover {
      background-color: darkgray;
    }
    &:focus {
      outline: 0;
    }
  }
}

.add-card-modal {
  textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  button {
    width: calc(50% - 2px);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    &:focus {
      outline: 0;
    }

    &.add-card-modal-add-button {
      margin-right: 2px;
      background-color: green;
      color: white;

      &:active {
        background-color: darkgreen;
      }
    }
    &.add-card-modal-cancel-button {
      margin-left: 2px;
      background-color: gray;
      color: white;

      &:active {
        background-color: darkgray;
      }
    }
  }
}

div.register-div {
  margin-left: 200px;
  margin-top: 200px;
  width:300px;
  * {
    height: 50px;
  }
  
  input {
    width: calc(100% - 44px);
    padding-left: 20px;
    padding-right: 20px;
  }

  button {
    padding: 10px;
    width: 100%;

  }

}